<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.ritmometria" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ritmometria Non Gravida</name>
    <description>
        Herramienta de ejercicios prácticos de ritmos afrocaribeños
    </description>
    <author email="darwin.plata@creatividata.com" href="http://www,creatividata.com">
        Creatividata - Darwin Plata 
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
	
	<!-- Creatividata: BLOQUE WHITELIST -->
	<!-- Allow links to example.com -->
	<allow-navigation href="http://creatividata.com/*" />

	<!-- Wildcards are allowed for the protocol, as a prefix
		 to the host, or as a suffix to the path -->
	<allow-navigation href="*://*.creatividata.com/*" />

	<!-- A wildcard can be used to whitelist the entire network,
		 over HTTP and HTTPS.
		 *NOT RECOMMENDED* -->
	<allow-navigation href="*" />

	<!-- The above is equivalent to these three declarations -->
	<allow-navigation href="http://*/*" />
	<allow-navigation href="https://*/*" />
	<allow-navigation href="data:*" />
	
    <platform name="android">
        <allow-intent href="market:*" />
		<icon src="icon.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^6.2.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
</widget>
